Klient/xml-resources/web-service-references/ArvutiService/wsdl/e7270_8080/ArvutiOperatsioonisysteemTeenus/ArvutiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ttu.ee/idu0075/2015/ws/arvuti" targetNamespace="http://www.ttu.ee/idu0075/2015/ws/arvuti">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.ttu.ee/idu0075/2015/ws/arvuti" elementFormDefault="qualified">
			<xs:complexType name="opsysType">
				<xs:sequence>
					<xs:element name="opsysID" type="xs:integer"/>
					<xs:element name="developer" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="release" type="tns:releaseType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="arvutiType">
				<xs:sequence>
					<xs:element name="arvutiID" type="xs:integer"/>
					<xs:element name="userName" type="xs:string"/>
					<xs:element name="quantity" type="xs:integer"/> <!-- näitab, mitu OS'i on arvutis -->
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="opsys" type="tns:opsysType"/>
					</xs:sequence>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="releaseType">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="10"/>
				</xs:restriction>
			 </xs:simpleType>
			 <xs:complexType name="statusType">
				<xs:sequence>
					<xs:element name="message" type="xs:string"/>
					<xs:element name="requestID" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="addOpsysRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="developer" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="release" type="tns:releaseType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addOpsysResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element name="opsys" type="tns:opsysType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsysRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="opsysID" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsysResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="1" name="opsys" type="tns:opsysType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsystemsWithParametersRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="developer" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsystemsWithParametersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="opsys" type="tns:opsysType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addArvutiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="userName" type="xs:string"/>
						<xs:element name="quantity" type="xs:integer"/>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addArvutiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element name="arvuti" type="tns:arvutiType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getArvutiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="arvutiID" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getArvutiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="1" name="arvuti" type="tns:arvutiType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>S
			<xs:element name="getArvutidWithParametersRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="quantity" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getArvutidWithParametersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="arvuti" type="tns:arvutiType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addOpsysToArvutiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" name="opsysID" type="xs:integer"/>
						<xs:element minOccurs="1" maxOccurs="unbounded" name="arvutiID" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addOpsysToArvutiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="arvuti" type="tns:arvutiType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsystemsInArvutiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="arvutiID" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOpsystemsInArvutiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusMessage" type="tns:statusType"/>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="opsys" type="tns:opsysType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addOpsysMessageRequest">
		<wsdl:part name="parameter" element="tns:addOpsysRequest"/>
	</wsdl:message>
	<wsdl:message name="addOpsysMessageResponse">
		<wsdl:part name="parameter" element="tns:addOpsysResponse"/>
	</wsdl:message>
	<wsdl:message name="getOpsysMessageRequest">
		<wsdl:part name="parameter" element="tns:getOpsysRequest"/>
	</wsdl:message>
	<wsdl:message name="getOpsysMessageResponse">
		<wsdl:part name="parameter" element="tns:getOpsysResponse"/>
	</wsdl:message>
	<wsdl:message name="getOpsystemsWithParametersMessageRequest">
		<wsdl:part name="parameter" element="tns:getOpsystemsWithParametersRequest"/>
	</wsdl:message>
	<wsdl:message name="getOpsystemsWithParametersMessageResponse">
		<wsdl:part name="parameter" element="tns:getOpsystemsWithParametersResponse"/>
	</wsdl:message>
	<wsdl:message name="addArvutiMessageRequest">
		<wsdl:part name="parameter" element="tns:addArvutiRequest"/>
	</wsdl:message>
	<wsdl:message name="addArvutiMessageResponse">
		<wsdl:part name="parameter" element="tns:addArvutiResponse"/>
	</wsdl:message>
	<wsdl:message name="getArvutiMessageRequest">
		<wsdl:part name="parameter" element="tns:getArvutiRequest"/>
	</wsdl:message>
	<wsdl:message name="getArvutiMessageResponse">
		<wsdl:part name="parameter" element="tns:getArvutiResponse"/>
	</wsdl:message>
	<wsdl:message name="getArvutidWithParametersMessageRequest">
		<wsdl:part name="parameter" element="tns:getArvutidWithParametersRequest"/>
	</wsdl:message>
	<wsdl:message name="getArvutidWithParametersMessageResponse">
		<wsdl:part name="parameter" element="tns:getArvutidWithParametersResponse"/>
	</wsdl:message>
	<wsdl:message name="addOpsysToArvutiMessageRequest">
		<wsdl:part name="parameter" element="tns:addOpsysToArvutiRequest"/>
	</wsdl:message>
	<wsdl:message name="addOpsysToArvutiMessageResponse">
		<wsdl:part name="parameter" element="tns:addOpsysToArvutiResponse"/>
	</wsdl:message>
	<wsdl:message name="getOpsystemsInArvutiMessageRequest">
		<wsdl:part name="parameter" element="tns:getOpsystemsInArvutiRequest"/>
	</wsdl:message>
	<wsdl:message name="getOpsystemsInArvutiMessageResponse">
		<wsdl:part name="parameter" element="tns:getOpsystemsInArvutiResponse"/>
	</wsdl:message>
	<wsdl:portType name="ArvutiPortType">
		<wsdl:operation name="addOpsys">
			<wsdl:input message="tns:addOpsysMessageRequest"/>
			<wsdl:output message="tns:addOpsysMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOpsys">
			<wsdl:input message="tns:getOpsysMessageRequest"/>
			<wsdl:output message="tns:getOpsysMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOpsystemsWithParameters">
			<wsdl:input message="tns:getOpsystemsWithParametersMessageRequest"/>
			<wsdl:output message="tns:getOpsystemsWithParametersMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addArvuti">
			<wsdl:input message="tns:addArvutiMessageRequest"/>
			<wsdl:output message="tns:addArvutiMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getArvuti">
			<wsdl:input message="tns:getArvutiMessageRequest"/>
			<wsdl:output message="tns:getArvutiMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getArvutidWithParameters">
			<wsdl:input message="tns:getArvutidWithParametersMessageRequest"/>
			<wsdl:output message="tns:getArvutidWithParametersMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addOpsysToArvuti">
			<wsdl:input message="tns:addOpsysToArvutiMessageRequest"/>
			<wsdl:output message="tns:addOpsysToArvutiMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOpsystemsInArvuti">
			<wsdl:input message="tns:getOpsystemsInArvutiMessageRequest"/>
			<wsdl:output message="tns:getOpsystemsInArvutiMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArvutiBinding" type="tns:ArvutiPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addOpsys">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOpsys">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOpsystemsWithParameters">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="addArvuti">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getArvuti">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getArvutidWithParameters">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="addOpsysToArvuti">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOpsystemsInArvuti">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ArvutiService">
		<wsdl:port name="ArvutiPort" binding="tns:ArvutiBinding">
			<soap:address location="http://e7270:8080/ArvutiOperatsioonisysteemTeenus/ArvutiService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>